.header {
  display: flex;
  justify-content: center;
  padding: 0 1rem !important;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1600px;
}

@media (min-width: 1600px) {
  .wrapper {
    padding: 0 1rem;
  }
}

.wrapper h1 {
  margin: 0 1.2rem 0 0;
  display: inline-block;
  font-weight: bold;
}

.wrapper h1 a {
  color: #fff;
}

.menu {
  flex: auto;
  min-width: 0;
}
