body {
  background: #f0f2f5;
}

.header {
  padding: 0;
}

.header .wrapper {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
}

.header h1 {
  margin: 0 1.2rem 0 0;
  display: inline-block;
  font-weight: bold;
}

.header h1 a {
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
}

.inner-content {
  width: 100%;
  padding: 1rem;
  max-width: 1600px;
}

@media (min-width: 576px) {
  .inner-content {
    padding: 25px;
  }
}

@media (min-width: 1024px) {
  .inner-content {
    padding: 25px 50px;
  }
}

footer {
  margin: 2rem 0;
  text-align: center;
}
