.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.moreWrapper {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.moreBtn {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  margin: 0 0 1rem;
}
 